body, h1, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #282c35; 
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ff4081; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 64, 129, 0.5); 
    width: 400px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: #ffd700;
    margin-bottom: 20px; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #ffd700;
    border-radius: 5px;
    color: #282c35; 
    background-color: #fff; 
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffd700; 
    color: #282c35; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input:hover {
    background-color: #ff4081; 
  }

  a {
    color: #ffd700; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  a:hover {
    color: #ff4081; 
  }
  
  