{% extends 'base.html.twig' %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}"> 

    <div class="example-wrapper">
        <h1>{{ message }}</h1>

        <a href="/welcome">Back to welcome page</a> 
    </div>
{% endblock %}
